/*
68 74 74 70 3a 2f 2f 69 2e 69 6d 67 75 72 2e 63 6f 6d 2f 79 53 66 44 75 37 63 2e 6a 70 67 
*/

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff;
    background-color: #3c3c3c;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: #ccc;
    height: 150px;
    margin: 10% 0px 15% 0px;
  fill: currentColor;
}

.container {
    padding-top: 15%;
    max-width: 400px;
}
.tagline {
    font-size: 2em;
}

.hearts {
    padding: 40px 0px 0px 0px;
    height: 20px;
    font-size: 90%;
    color: #d9bce8;
}

#heart {
    padding: 0px 0px;
    height: 0.8em;
    width: 0.8em;
}
