// IBM Plex Sans
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500');

//noinspection CssUnknownTarget
@font-face {
  font-family: 'Animosa';
  src: url('/fonts/Animosa-ExtraLight.otf');
  font-weight: normal;
}

//noinspection CssUnknownTarget
@font-face {
  font-family: 'Animosa Bold';
  src: url('/fonts/Animosa-ExtraBold.otf');
  font-weight: normal;
}

//noinspection CssUnknownTarget
@font-face {
  font-family: 'Deciso Bold';
  src: url('/fonts/Deciso-Bold.otf');
}

//noinspection CssUnknownTarget
@font-face {
  font-family: 'Deciso Light Italic';
  src: url('/fonts/Deciso-LightItalic.otf');
}
